
<!doctype html>
<html lang="kor">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>상세 가입페이지</title>


<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<link href="css/nivo-lightbox.css" rel="stylesheet" />
<link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
<link href="css/animate.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet">
<link href="css/default.css" rel="stylesheet">

<script type="text/javascript">
$(document).ready(function() {
	$("#example").tabs();
});
</script>
</head>
<script>
	function fetch_private_key(){
		document.getElementById('private_key').innerHTML = document.getElementById('span1').innerHTML;
	}
</script>
<body>
	<div id="example">

		<div id="tab-1">
			<ul id="gn-menu" class="gn-menu-main">
			<form name="myform" action="/register" method="post">	
			<fieldset>
				<legend>회원가입을 위한 기초정보입력</legend>
				<h2>회원가입 페이지</h2>
				<table class="typeA">
				<tbody>
					<tr>
					<button type="button" class="btn btn-skin scroll" onclick = "fetch_private_key();" > 개인키 발급 받기 </button>	
					</tr>
					<span id="span1" style='visibility:hidden'> <%= userId %></span>
					<p>개인키 값은 : <h1 id =private_key></h1>
					<tr>
						<th>비밀번호</th>
						<td><input type="password" name="userpw1" placeholder="비밀번호 입력" required = "true"></td>
					</tr>
				</tbody>
				</table>
                    <button name = "Submit" type="Submit" value ="register" class="btn btn-skin scroll">회원가입</button>
					<button type="reset" class="btn btn-skin scroll" onclick="history.back(-1)">취소</button>
				</fieldset>	
			</ul>
		</form>
	</div>
	</div>
</body>
</html>

