
<!doctype html>
<html lang="kor">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>상세 가입페이지</title>


<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
<link href="/css/nivo-lightbox.css" rel="stylesheet" />
<link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet">
<link href="/css/default.css" rel="stylesheet">

<script type="text/javascript">
$(document).ready(function() {
	$("#example").tabs();
});
</script>

</head>
<script>
	function fetch_private_key(){
		document.getElementById('private_key').innerText = document.getElementById('privateKey').value;
		document.getElementById('identi_key').innerText = document.getElementById('identiKey').value;
	}
</script>

<body >
	<div id="example" >
		<div id="tab-1">
			<ul id="gn-menu" class="gn-menu-main">
				<form name="myform" action="/register" method="post">	
					<fieldset>
						<center><legend>회원가입을 위한 기초정보입력</legend></center>
						<center><h2>회원가입 페이지</h2></center>
						<table class="typeA">
							<tbody>
								<center><button type="button" class="btn btn-skin scroll" style="align-self: auto;" onclick = "fetch_private_key();" > 개인키 발급 받기 </button>	</center>
		
								<td><input type="hidden" id="privateKey" name="privateKey" value = <%= userId %>> </td>	
								<td><input type="hidden" id="identiKey" name="identiKey" value = <%= identiKey %> > </td>	
							
								<p style="text-align: center"> 개인키 값 : <h1 id = "private_key" style="text-align: center"></h1></p>
								<p style="text-align: center"> 인증번호 : <h1 id = "identi_key" style="text-align: center"></h1></p>

								<p style="text-align: center"> 비밀번호</p>
								<center><input type="password" id="userpw1" name="userPW" style="text-align: center" placeholder="비밀번호 입력" required = "true"></center>
							</tbody>
						</table>

						<div>
								<center>
									<button name = "Submit" type="Submit" value ="register" class="btn btn-skin scroll">회원가입</button>
									<button type="reset" class="btn btn-skin scroll" onclick="history.back(-1)">취소</button>
								</center>
						</div>
						
					</fieldset>				
				</form>
			</ul>
		</div>
	</div>
</body>
</html>

